<!DOCTYPE html>
{% extends "home.html" %}
{% block body_block %}
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="/show_teacher">Add New Teacher</a></p>
      <p><a href="/admin_student">Add New Student</a></p>
      <p><a href="/admin_parent">Add New Parent</a></p>
      <p><a href="/admin_teacher_subject">Assign Subjects to Teacher</a></p>
    </div>
    <div class="col-sm-8 text-left"> 

      <!-- teacher--->
      <h1>Admin</h1>
      
      <div class="container-fluid" style="max-width: 970px" id="teacher_form" >
  
    <div class="jumbotron jumbotron-fluid">

  <form method = "POST" class ="post-form" action="/admin_teacher_subject">

    {% csrf_token%}
    <div class = "container" style="max-width: 970px">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Subject Name:</label>
      <div class="col-sm-4">
        {{form.sub_id}}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Teacher Name:</label>
      <div class="col-sm-4">
        {{form.teacher_id}}
      </div>
    </div>
    <div class="form-group-row">
      <label class ="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <button type="submit" name="btnform1" class="btn btn-primary">Submit</button>
      </div>
    </div>
    
    </div>

  </form>
</div>

</div>
{% endblock %}   

