<!DOCTYPE html>
{% extends "home.html" %}
{% block body_block %}
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="/admin_teacher">Add - Update - View Teacher</a></p>
      <p><a href="/admin_student">Add New Student</a></p>
      <p><a href="/admin_parent">Add New Parent</a></p>
      <p><a href="/teacher_subject">teacher_subject</a></p>
    </div>
    <div class="col-sm-8 text-left"> 

    		<div class="container">
	<div class="jumbotron jumbotron-fluid">

	<table class="table table-striped table-bordered table-sm">
		<thead class="thead-dark">
			<tr>
				<th>Sr.No</th>
				<th>Subject Name</th>
				<th>Teacher Name</th>

			</tr>
		</thead>
		<tbody>
			{% for employee in subject %}
			<tr>
				<td>{{employee.sr_no}}</td>
				<td>{{employee.sub_id}}</td>
				<td>{{employee.teacher_id}}</td>

			</tr>
			{% endfor %}
		</tbody>
	</table>
	  <div class="jumbotron">
	<br>
	<br>
	<center><a href="/admin_teacher_subject" class="btn btn-primary">Add New Record</a></center>
	</div>

</div>
</div>
</div>
</div>
{% endblock %}   

